


@font-face {
    font-family: "mplus-1c-regular";
    src: url(../fonts/mplus-1c-regular.ttf);
}

@font-face {
    font-family: "mplus-1c-bold";
    src: url(../fonts/mplus-1c-bold.ttf);
}
@font-face {
    font-family: "mplus-1c-light";
    src: url(../fonts/mplus-1c-light.ttf);
}


/*--------------------
1. General
--------------------*/

html * {
	font-family: "mplus-1c-light", Sans-serif;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;

}
body {
	margin: 0px;
	font-family: "mplus-1c-light", Sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 200;
	letter-spacing: 0.4px;
	font-family: "mplus-1c-light", Sans-serif;
	color: #232323;
}

p {
	font-family: 'mplus-1c-light', sans-serif;
	font-size: 15px;
	font-weight: 100;
	line-height: 23px;
	letter-spacing: 0.2px;
	color: #797979;
}


.dark-bg p, .dark-bg h3, .dark-bg footer {
	color: #B1B1B1;
}

.quote-section p, .quote-section h3, .quote-section ul {
	margin-left: 20px;
}

.cover{
	height: 10px;
}

.coverTwo {
	margin-top: -50px;
	height: 175px;
}

a:hover, a:focus, a:active, a.active {
	color: #fec503;
}
a, a:hover, a:focus, a:active, a.active {
	outline: 0;
}

::selection {
	text-shadow: none;
	background: #fed136;
}

@media (min-width: 768px) {
	section {
		padding: 150px 0;
	}
}

section {
	padding: 75px 0;
}

ul {
	padding-left: 0;
	padding-top: 10px;
}

ul li {
    list-style: none;
    padding-bottom: 10px;
    font-family: 'mplus-1c-light', sans-serif;
    font-size: 14px;
    font-weight: 100;
    line-height: 23px;
    letter-spacing: 0.2px;
    color: #479CCF;
}

section ul li:before {
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	text-decoration: inherit;
	content: "\f046";
	padding-right: 7px;
	color: #479CCF;
}

/*--------------------
1.1 Reset bootstrap
--------------------*/

.row-0-gutter {
    margin-left: -13px;
    margin-right: -13px;
}

.col-0-gutter {
	padding-left: 0;
	padding-right: 0;
}

/*--------------------
2. Navigation
--------------------*/

.navbar-default {
	background-color: #222;
	border-color: transparent
}
.navbar-default .navbar-brand {
	color: #fff;
	font-family: "mplus-1c-light",sans-serif;
	padding: 0px;
}
.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand:active,.navbar-default .navbar-brand.active {
	color: #479CCF
}
.navbar-default .navbar-collapse {
	border-color: rgba(255,255,255,.02)
}
.navbar-default .navbar-toggle {
	background-color: #479CCF;
	border-color: #479CCF;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff
}
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus {
	background-color: #479CCF;
}
.navbar-default .nav li a {
	font-family: "mplus-1c-light",sans-serif;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 1px;
	color:white;
}
.navbar-default .nav li a:hover,.navbar-default .nav li a:focus {
	color: #479CCF;
	outline: 0
}

.navbar-default .navbar-nav>.active>a {
	border-radius: 0;
	color: #fff;
	background-color: #479CCF
}
.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus {
	color: #fff;
	background-color: #479CCF
}

@media (min-width:768px) {
	.navbar-default .nav li a {
		color: black;
	}
	.navbar-default
	{
		background-color: rgba(255, 255, 255, 0.65);
		padding: 10px 0;
		-webkit-transition:padding .3s;
		-moz-transition:padding .3s;
		transition:padding .3s;
		border:0
	}
	.navbar-default .navbar-brand {
		font-size: 2em;
		-webkit-transition:all .3s;
		-moz-transition:all .3s;
		transition:all .3s
	}
	.navbar-default .navbar-nav>.active>a {
		border-radius: 3px
	}
	.navbar-default.navbar-shrink {

		padding: 0px 0
	}
	.navbar-default.navbar-shrink .navbar-brand {
		font-size: 1.5em;
		margin-top: 10px;
	}
}

/*--------------------
3. Header
--------------------*/

header {
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	padding-bottom: 300px;
}
.mainBG
{
	background-color: #333231;
	background-repeat:no-repeat;
	filter:blur(0px);
	background-attachment: scroll;
	margin: -50px auto;
	max-height: 600px;
}

.maxpicdiv {
	height: 500px;
	width: 500px;
	margin: 50px auto;
}


.maxpic {

	background-image: #333231 url("../images/maxpic.jpg") no-repeat center;
	
	height: 500px;
	width: 500px;

}

header .intro-text {
	/*settings while in mobile mode*/
	padding-top: 150px;
	padding-bottom: 25px;
	text-align: center;

}

@media (max-width: 550px){
	/*while the screen is less than 550px*/
	header {
		background-position: center -50px;
		padding-bottom: 500px;
	}
}

@media (max-width: 650px)
{
	/*break to make the text look real nice*/
	.spacer:before{
		content: ' ';
		display: block;
	}
}

@media (max-width: 768px){
	/*while the screen is less than 550px*/
	header {
		background-position: center -50px;
		padding-bottom: -500px;
	}
}

@media (min-width: 768px) {
	/*while the screen is more than 768px*/
	header .intro-text {
		/*settings while in desktop mode*/
  	  padding-top: 150px;
		padding-bottom: 125px;

    }
    header{
    	background-position: center 100px;

    }
}

@media (min-width: 900px) {
    header{
    	background-position: center 50px;

    }
}

@media (min-width: 1200px) {
    header{
    	background-position: center 00px;

    }
}


@media (min-width: 1500px) {
    header{
    	background-position: center -150px;

    }
}

@media (min-width: 1600px) {
    header{
    	background-position: center -250px;


    }
}

@media (min-width: 2000px) {
    header{
    	background-position: center -300px;

    }
}


#whoami{
	opacity: 0.7;
	border-radius: 10px;
	width: 100px;
	margin: 0 auto;
}

header .intro-text .intro-lead-in {
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.95);
	margin-bottom: 25px;
	padding: 4px 4px;
	font-family: "mplus-1c-bold",sans-serif;
	font-size: 40px;
	color: #3E3E3E;
	font-weight: 200;
	line-height: 40px;

}

@media (min-width: 768px) {
	header .intro-text .intro-lead-in {
    font-size: 40px;
    font-family: "mplus-1c-regular",sans-serif;
    line-height: 40px;
    margin-bottom: 45px;
	}
}

.spacer {
	margin-right: 20px;
}

.spacerOne {
	margin-left: 20px;
}
header .intro-text .intro-heading {
	font-weight: 100;
	font-size: 35px;
	line-height: 48px;
	font-family: "mplus-1c-regular",sans-serif;
	margin-bottom: 25px;
	letter-spacing: -3px;
	margin-top: 60px;
	padding-top: 10px;
	width: 250px;
	margin: 5px auto;
	word-spacing: 10px;
	/*I am the one*/
	/*color: #479CD0;*/
	border-radius: 15px;
	color: black;
	background-color: rgba(255,255,255,0.15);
}

header .intro-sd {
	font-size: 24px;
	margin: 80px auto;
	padding-bottom: 70px;
}

@media (min-width: 650px) {
	header .intro-text .intro-heading{
		line-height: 95px;
		font-size: 60px;
		width: 700px;
	}
	header .intro-sd {
		font-size: 40px;
		width: 500px;
		margin-bottom:
	}
}

/*--------------------
4. Sections
--------------------*/
.htmlbutton{
	border: none;
}

.maxcontainer{
	max-height: 150px;
	max-height: 150px;
}

.section-title h2 {
	font-size: 34px;
	text-transform: uppercase;
	color: #479CCF;
	font-weight: 100;
	letter-spacing: -0.6px;
	position: relative;
	margin-bottom: 20px;
	padding-bottom: 15px;
}

.section-title h2:after {
	/*--------------------
		 little line
	--------------------*/
	left: 50%;
	z-index: 1;
	width: 40px;
	height: 2px;
	content: " ";
	bottom: -5px;
	margin-left: -20px;
	text-align: center;
	position: absolute;
	background: #479CCF;
}

.code-container {
	width: 50vw;
	margin-left: 2vw;
	margin-top: 2vw;
	background-color: #e0e0e0

}
.uikitintro {
	color: greenyellow !important;
}

.privacypolicyintro {
	color: #67C8FF !important;
}
/* jquery/javascript way
$(window).on( 'resize', function () {
    $('.code-container').height( $(window).width() / 2 );
}).resize();
 */
.dark-bg .section-title h2 {
	color: #479CCF;
}

.section-title p {
	font-size: 15px;
	font-weight: 100;
	line-height: 25px;
	margin: 20px 100px 60px 100px;
}

/*--------------------
4.1. About
--------------------*/
#about {
	padding-top: 0px;
}
.links{
	background-color: #479CCF;
}

.mz-module-about h3 {
	font-weight: 100;
	font-size: 27px;
	text-transform: uppercase;
	color: #000000;
	letter-spacing: 2px;
	margin-bottom: 20px;
}

.dark-bg .mz-module-about h3 {
	color: #FFFFFF;
}


.mz-module-about p {
	font-size: 14px;
	font-weight: 100;
	line-height: 22px;
	color: #969696;
}

.ot-circle {
	height: 95px;
	width: 95px;
	text-align: center;
	line-height: 98px;
	color: #FFFFFF;
	/* border: 3px solid #000; */
	border-radius: 100px;
	background-color: #479CCF;
	margin: 0 2px 4px;
	font-size: 24px;

	transition: all 1s;
}


.parallax-window {
    min-height: 200px;
    background: transparent;
    background-attachment: fixed;
    margin: -50px auto;
    iosFix: false;
    androidFix: false;
}

.nature {
	min-height: 400px;
}
.animate{
	opacity: 0.7;
	transform: scale(1.2);
}

.ot-square {
	font-family: "mplus-1c-bold",sans-serif;
	text-align: center;
	border-radius: 15px;
	margin-bottom: 10px;
	font-size: 40px;
	width: 250px;
	height: 50px;
	/*color: #479CD0;*/
	color: white;
	background-color: rgba(255,255,255,0.15);
}

/*--------------------
4.2. Education
--------------------*/


.section-text h3 {
	margin: 0 0 40px;
	font-weight: 200;
	color: #5D5D5D;
}

.section-text h4 {
    margin: 0 0 40px;
    font-weight: 200;
    font-size: 17px;
}

.dark-bg .section-text h3 {
	color: #dfdfdf;

}

.dark-bg .section-text h4 {
	color: #dfdfdf;

}

.no-bg {

}


.embed-responsive {
	/*--------------------
4.3. Resume
--------------------*/
	position: relative;
	display: block;
	height: 0;
	padding: 0;
	overflow: hidden;
}

@media (min-width:768px) {
	.rContainer{
		margin-left: auto;
		margin-right: auto;
		transform: scale(1);
	}
	.resume {
		height: 100%;
		width: 100%;
	}
}

/*--------------------
4.4. Dark Short section (counters, quote, etc)
--------------------*/

.light-bg {
	background-color: #f8f8f8;
}

.dark-bg {
	background-color: #333231;
	color: #fff;
}


.short-section {
	border-top: 1px solid #5D5D5F;
	border-bottom: 1px solid #5D5D5F;
	padding-top: 25px;
	padding-bottom: 5px;
}

.num {
	color: #fff;
	font-size: 60px;
	font-weight: 200;
}

.name {
	font-size: 25px;
	color: #FFFFFF;
	font-weight: 200;
	margin: 0px 0 0px 0;
	text-transform: uppercase;
}


@media (min-width: 1100px) {
.num {
	color: #fff;
	font-size: 60px;
	font-weight: 200;
	display: block;
}

.name {
	color: #FFF;
	font-size: 27px;
	color: #FFFFFF;
	font-weight: 200;
	margin: 0px 0 0px 0;
	text-transform: uppercase;
}
}


/*--------------------
4.7. Contacts
--------------------*/

/*--------------------
5. Footer
--------------------*/

footer {
	padding: 30px;
	background-color: #000;
}

footer p {
	color: #B7B7B7;
	margin: 0;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 1.6px;
}

footer p a {
	color: #fff;
}

footer p a span {
	color: #479CCF;
	font-size: 10px;
	letter-spacing: 1px;
	font-weight: 100;
}

/*--------------------
6. Modal
--------------------*/

.modal-content {
	border-radius: 0;
}
.modal-header .close {
	font-size: 30px;
}
.modal-title {
	text-transform: uppercase;
	font-size: 23px;
}

.modal-body {
	padding: 0;
}

.modal-body p {
	margin: 30px 20px;
	color: #2D2D2D;
}

.modal-works {
font-size: 11px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 100;
	color: #fff;
	margin: 25px 20px;
}

.modal-works span {
	background-color: #FED136;
	margin-right: 15px;
	padding: 5px 10px;
}

/*--------------------
7. Components
--------------------*/

.btn-xl:hover, .btn-xl:focus, .btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
	color: #fff;
	background-color: #479CCF;
	border-color: #3C464F;
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .open .dropdown-toggle.btn {
	color: #fff;
	background-color: #479CCF;
	opacity: 0.7;
	transform: scale(0.98);
	border-color: #3C464F;
}

.btn {
	display: inline-block;
	padding: 8px 20px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 100;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: #479CCF;
}

.btn-xl {
	color: #fff;
    background-color: #479CCF;
    /* border-color: #726FB9; */
    font-family: "mplus-1c-light",sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    border-radius: 0;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 17px 45px;
}


